<!DOCTYPE html>
html(lang="en")
  head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      link(rel="stylesheet", href="./css/materialize.css")
      //- link(rel="stylesheet", href="http://cdn.bootcss.com/materialize/0.97.6/css/materialize.min.css")
      title Document
  body
      .container
        .grid-box
          .row
              //- -for (var i = 0; i <= 6; i++)
              .col.s12
                  span
                    =123
              .col.s12.m4.l2
                  span
                    =123
              .col.s12.m8.l8
                  span
                    =123
              .col.s12.m4.l2
                  span
                    =123   
          .row
              .col.s12.m6.l3
                  span
                      =123
              .col.s12.m6.l3
                  span
                      =123
              .col.s12.m6.l3
                  span
                      =123
              .col.s12.m6.l3
                  span
                      =123
        .button-box
          button.btn 123
          button.btn-floating.btn-large 123
          button.btn-flat 123
          button.btn-large 123
          button.btn.disabled 123
        .card-box
          .row
            .col.s12.m6
              .card.blue-grey.darken-1
                  .card-content.white-text
                    span.card-title 123
                    p
                      = 1231231231231231
                  .card-action
                    a(href="#") 123
                    a(href="#") 123
