/**
 * buttons
 */
.btn,
.btn-flat {
    border: $button-border;
    border-radius: $button-radius;
    padding: $button-padding;
    display: inline-block;
    height: $button-height;
    line-height: $button-height;
    outline: 0;
    text-transform: uppercase; //转大写
    vertical-align: middle; //文字对齐 中轴线
    -webkit-tap-highlight-color: transparent; //改写iOS Safari中可点击元素的高亮颜色
}
//禁用按钮样式
.btn-floating.disabled,
.btn-floating:disabled,
.btn-floating[disabled],
.btn-large.disabled,
.btn-large:disabled,
.btn-large[disabled],
.btn.disabled,
.btn:disabled,
.btn[disabled] {
    background-color: $button-disabled-background !important;
    box-shadow: none;
    color: $button-disabled-color !important;
    cursor: default;
    * {
        pointer-events: none; //禁用鼠标事件
    }
    &:hover {
      background-color: $button-disabled-background !important;
      color: $button-disabled-color !important;
    }
}
//icon 样式
.btn,
.btn-floating,
.btn-flat,
.btn-large {
  i {
    font-size: $button-font-size;
    line-height: inherit
  }
}
