$num-cols: 12!default;
$gutter-width: 1.5em!default;

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
